* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

:root {
    --dark-blue: #070F2B;
    --midnight-blue: #1B1A55;
    --steel-blue: #535C91;
    --lavender-gray: #9290C3;
    --pure-white: #ffffff;
}