* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

:root {
    --dark-blue: #070F2B;
    --midnight-blue: #1B1A55;
    --steel-blue: #535C91;
    --lavender-gray: #9290C3;
    --pure-white: #ffffff;
}

.victory{
    z-index: 9999;
    text-align: center;
    width: 400px;
}

.victory > h3{
    font-size: 24px;
    margin-bottom: 15px;
}

.victory > img{
    width: 400px;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 1px 10px var(--pure-white);   
    filter: grayscale(50%);
    transition: .5s;
    cursor: pointer;
}

.victory > img:hover {
    filter: grayscale(20%);
}

.victory span{
    color: var(--lavender-gray);
}

@media (max-width:420px) {
    .victory {
        width: 90%;
    }
    .victory > img{
        width: 100%;
    }
}