* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

:root {
    --dark-blue: #070F2B;
    --midnight-blue: #1B1A55;
    --steel-blue: #535C91;
    --lavender-gray: #9290C3;
    --pure-white: #ffffff;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--pure-white);
    background-image: linear-gradient(145deg, var(--dark-blue), var(--midnight-blue));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 800px;
    width: 800px;
}

.game{
    border: 2px solid var(--lavender-gray);
    width: 100%;
    height: 100%;
    opacity: .6;
    position: relative;
}

.paddle {
    background-color: var(--lavender-gray);
    position: absolute;
    border-radius: 10px;
}

.ball{
    background-color: var(--pure-white);
    border-radius: 50%;
    position: absolute;
}

.brick{
    background-color: var(--steel-blue);
    background-image: linear-gradient(145deg, var(--midnight-blue), var(--steel-blue));
    position: absolute;
    border: 1px solid var(--pure-white);
}

.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing: 8px;
    width: 100%;
    text-align: center;
    opacity: 1;
}