* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

:root {
    --dark-blue: #070F2B;
    --midnight-blue: #1B1A55;
    --steel-blue: #535C91;
    --lavender-gray: #9290C3;
    --pure-white: #ffffff;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--pure-white);
    background-image: linear-gradient(145deg, var(--dark-blue), var(--midnight-blue));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 800px;
    width: 800px;
}

.game{
    border: 2px solid var(--lavender-gray);
    width: 100%;
    height: 100%;
    opacity: .6;
    position: relative;
}

.paddle {
    background-color: var(--lavender-gray);
    position: absolute;
    border-radius: 10px;
}

.ball{
    background-color: var(--pure-white);
    border-radius: 50%;
    position: absolute;
}

.brick{
    background-color: var(--steel-blue);
    background-image: linear-gradient(145deg, var(--midnight-blue), var(--steel-blue));
    position: absolute;
    border: 1px solid var(--pure-white);
}

.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    letter-spacing: 8px;
    width: 100%;
    text-align: center;
    display: block;
}

.scoreBoard{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

.scoreBoard .timer{
    margin-left: 20px;
}

.scoreBoard .lives{
    margin-right: 20px;
    
}

.scoreBoard .lives i{
    background-color: #D84040;
    padding: 5px;
    border-radius: 50%;
}

.game-result-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
}

.game-status{
    font-size: 2.5em;
    letter-spacing: 3px;
}

.game-outcome{
    font-size: 2em;
    font-weight: 600;
}

.restart-button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: 500;
    background-color: var(--dark-blue);
    color: var(--pure-white);
}

.pause-menu{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 9999;
}

.pause-menu button {
    border-radius: 50%;
    background-color: var(--pure-white);
    cursor: pointer;
    width: 100%;
    height: 100%;
}