* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #070F2B;
    --midnight-blue: #1B1A55;
    --steel-blue: #535C91;
    --lavender-gray: #9290C3;
    --pure-white: #ffffff;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--pure-white);
    background-image: linear-gradient(145deg, var(--dark-blue), var(--midnight-blue));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid var(--pure-white);
}

.paddle {
    background-color: var(--lavender-gray);
}